.light-controls {
  margin-left: auto;
}
.control-button {
  cursor: pointer;
  border: none;
  padding: 10px;
  margin-right: 10px;
  transition-duration: 0.5s;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #222;
  &:hover {
    background-color: #f44242;
    color: white;
  }
  &:last-child {
    margin-right: 0;
  }
}